body {
    background: rgb(30, 30, 30);
    display: flex;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
    margin-right:20px
}

.logo {

    color: orange;
    padding-left: 20px;
}

.sublogos-container {
    display: flex;
    margin-top: 200px;
    padding-left: 20px;
}

.sublogo1, .sublogo3 {
    color: orange;
    margin-right: 20px; /* Adjust the margin as needed */
}

.sublogo2, .sublogo {
    color: rgb(255, 255, 255);
    margin-right: 20px; /* Adjust the margin as needed */
}


.textbox {
    padding-left: 20px;
    color: rgb(170, 170, 170);
    font-size: small;
}

.footer {
    padding-left: 20px;
    padding-top: 25%;
    color: rgb(170, 170, 170);
    font-size: small;
}

.icons {
    padding-left: 20px;
    padding-top: 5%;
    color: rgb(170, 170, 170);
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.button {
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
}

.button1 {
    background-color: rgb(30, 30, 30);
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
}

.left_column {
    flex: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(30, 30, 30);
    padding: 20px;
}

.textblock {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: orange;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.centered,
.centered2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    margin-top: auto;
}

.centered {
    font-size: xx-large;
}

.centered2 {
    font-size: 50px;
    color: orange;
}

.right_column img {
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

.right_column {
    flex: 1;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
